# =========================
# 🗄 DATABASE
# =========================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=wisemonitor
DB_USER=wisemonitor
DB_PASSWORD=

# =========================
# 🔐 JWT
# =========================
JWT_SECRET=
JWT_ISSUER=WiseMonitorAuth
JWT_AUDIENCE=WiseMonitorUsers
JWT_EXPIRATION_MINUTES=3000

# =========================
# 🌐 APP
# =========================
APP_BASE_URL=http://localhost:8080

# =========================
# 📸 STORAGE
# =========================
SCREENSHOT_PATH=/app/storage/screenshots

# =========================
# 🚀 PORT
# =========================
APP_PORT=8080
